body {
    margin: 0;
}

.container {
    width: 944px;
    margin: auto;
}


.h3_div {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;

    color: black;
    text-align: center;
    flex-direction: row;

    justify-content: space-between;
}

.line {
    display: flex;

    width: 100%;
    border: 1px solid #828282;
    margin-top: 32px;

    align-items: center;
    justify-content: center;
}


.content1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 47.3392px;
    line-height: 59px;
}

.content_in1 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.content_in1 p {
    margin-top: 95px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.languages {
    height: 20px;
    display: flex;
    flex-direction: row;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;

    font-weight: bold;

    transform: rotate(-90deg);

    margin-top: 70px;
}

.languages a {
    text-decoration: none;
    color: #828282;
}

.languages h3 {
    margin: 0;
    color: black;
}

#eng {
    color: black;
}

.picture {
    width: 100%;
    height: 387px;

    background: url(images/BSPP2266.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#group {
    display: none;
}



.content2{
    display: flex;
    margin-top: 105px;
    background: #F6F6F6;
    width: 100%;
    height: 506px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content2 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
}
.p-class{
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p-class p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


.content3{
    width: 100%;
    height: 610px;
    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.prog-cards p{
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}





@media screen and (max-width: 1200px) {
    .container {
        width: 744px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        padding: 16px;
    }

    .h3_div {
        display: none;
    }

    #group {
        display: block;
        margin-right: 0;
        margin-left: auto;
    }
}

#menu_window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 812px;
    background: white;
    padding: 66px 26px 0;
    justify-content: space-between;
    box-sizing: border-box;
}

#menu_window h1 {
    margin-top: 0;
    margin-bottom: 67px;
}

#menu_window img {
    width: 24px;
    height: 24px;
}

.another_div {
    width: 100%;
}


.links {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 42px;
}

.another_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.another_div img {
    height: 23px;
    margin-top: 100px;
    margin-right: 28px;
}

.languages_mob {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 114px;
    right: 28px;

    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    line-height: 20px;

    font-weight: bold;

    transform: rotate(90deg);

    /* margin-top: 70px; */
}

.languages_mob a {
    text-decoration: none;
    color: #828282;
}

.languages_mob h3 {
    margin: 0;
    color: black;
}




@media screen and (max-width: 600px) {
    .content_in1 {
        flex-direction: column;
    }

    .content_in1 p {
        margin-top: 0;
        margin-bottom: 36px;
    }

    .languages {
        display: none;
    }
}
